{% extends "templates/0__base.twig" %}
{% block title %}
	{{- parent() -}}
    Home
{% endblock %}
{% block head %}
	{{- parent() -}}
    <link rel="stylesheet" type="text/css" href="/style/user/Portalstyle.css">
{% endblock %}
{% block body %}
	{{- parent() -}}
    <form action="/goToUserRequestBooksPage" method="POST">
        <input type="submit" class="requestButton" value="Request Books">
    </form>
     <form action="/goToUserRequestedBooksPage" method="POST">
        <input type="submit" class="requestedButton" value="Requested Books">
    </form>
    <form action="/goToUserReturnBooksPage" method="POST">
        <input type="submit" class="returnButton" value="Return Books">
    </form>
    <form action="/goToUserHistoryPage" method="POST">
        <input type="submit" class="historyButton" value="History & Status">
    </form>
    <form action="/logoutUser" method="POST">
        <input type="submit" class="logoutButton" value="Logout">
    </form>
{% endblock %}