{% extends "templates/0__base.twig" %}
{% block title %}
	{{- parent() -}}
    Register
{% endblock %}
{% block head %}
	{{- parent() -}}
    <link rel="stylesheet" type="text/css" href="/style/user/Registerstyle.css">
{% endblock %}
{% block body %}
	{{- parent() -}}
    <div class="headPage" id="thisIs">
        This is
    </div>
    <div class="headPage" id="library">
        Library
    </div>
    <div class="registerPortal">
        <div class="top">
            <form action="/goToUserRegisterPage" method="GET">
                <input type="submit" class="userButton" value="User">
            </form>    
            <form action="/goToAdminRegisterPage" method="GET">
                <input type="submit" class="adminButton" value="Admin">
            </form>
        </div>
        <div class="bottom">
            <form class="userForm" action="/registerUser" method="POST">
                <input type="text" placeholder="Username" id="userName" name="username">
                <input type="password" placeholder="Password" id="password" name="password">
                <input type="submit" class="registerButton" value="Register">
            </form>
        </div>
    </div>
    <div class="loginBar">
        <div class="old">
            Already Registered ?
        </div>
        <form action="/goToUserLoginPage" method="GET">
            <input type="submit" class="loginButton" value="Login">
        </form>
    </div>
{% endblock %}