{% extends "templates/0__base.twig" %}
{% block title %}
	{{- parent() -}}
    Add Books
{% endblock %}
{% block head %}
	{{- parent() -}}
    <link rel="stylesheet" type="text/css" href="/style/admin/Addbooksstyle.css">
{% endblock %}
{% block body %}
	{{- parent() -}}
    <div class="headPage" id="addBooks">
        Add Books
    </div>
    <div class="addPortal">
        <form class="bookForm" action="/addBooks" method="POST">
            <input type="text" placeholder="Book Title" id="bookTitle" name=" BookTitle">
            <input type="text" placeholder="Quantity" id="quantity" name="Quantity">
            <input type="submit" class="addButton" value="Add"/>
        </form>
    </div>
    <div class="resultBar">
        {{ data }}
    </div>
    <form class="back" action="/goToAdminPortal" method="POST" >
        <input type="submit" class="backButton" value="Back">
    </form>
{% endblock %}