{% extends "templates/0__base.twig" %}
{% block title %}
	{{- parent() -}}
    Login
{% endblock %}
{% block head %}
	{{- parent() -}}
    <link rel="stylesheet" type="text/css" href="/style/admin/Loginstyle.css">
{% endblock %}
{% block body %}
	{{- parent() -}}
    <div class="headPage" id="thisIs">
        This is
    </div>
    <div class="headPage" id="library">
        Library
    </div>
    <div class="loginPortal">
        <div class="top">
            <form action="/goToUserLoginPage" method="GET">
                <input type="submit" class="userButton" value="User">
            </form>    
            <form action="/goToAdminLoginPage" method="GET">
                <input type="submit" class="adminButton" value="Admin">
            </form>
        </div>
        <div class="bottom">
            <form class="adminForm" action="/loginAdmin" method="POST">
                <input type="text" placeholder="Username" id="userName" name="Username">
                <input type="password" placeholder="Password" id="password" name="Password">
                <input type="submit" class="loginButton" value="Login"/>
            </form>
        </div>
    </div>
    <div class="registrationBar">
        <div class="new">
            Apply to be Admin ?
        </div>
        <form action="/goToAdminRegisterPage" method="GET">
            <input type="submit" class="registerButton" value="Register">
        </form>
    </div>
{% endblock %}