{% extends "templates/0__base.twig" %}
{% block title %}
	{{- parent() -}}
    Bye Bye
{% endblock %}
{% block head %}
	{{- parent() -}}
    <link rel="stylesheet" type="text/css" href="/style/admin/Logoutsuccessfulstyle.css">
{% endblock %}
{% block body %}
	{{- parent() -}}
        <div class="loginSuccessful">
            Logout Successful !
        </div>
        <form class="home" action="/goToAdminLoginPage" method="GET" >
            <input type="submit" class="homeButton" value="Home">
        </form>
{% endblock %}