{% extends "templates/0__base.twig" %}
{% block title %}
	{{- parent() -}}
    Ohh noooooooooo !1!!
{% endblock %}
{% block head %}
	{{- parent() -}}
    <link rel="stylesheet" type="text/css" href="/style/admin/wrongPasswordstyle.css">
{% endblock %}
{% block body %}
	{{- parent() -}}
        <center>
            <div class="spaceInusername">
                Password and Username don't match !
            </div>
        </center>    
        <form class="home" action="/goToAdminLoginPage" method="GET" >
            <input type="submit" class="backButton" value="Back">
        </form>
{% endblock %}